.box
  .box-header
    %ul.nav.nav-tabs.nav-tabs-left
      %li.active
        %a{"data-toggle" => "tab", href: "#pictures"}
          %i.icon-picture
          %span Images
      %li
        %a{"data-toggle" => "tab", href: "#files"}
          %i.icon-folder-open
          %span Files
      %li
        %a{"data-toggle" => "tab", href: "#settings"}
          %i.icon-cog
          %span Settings
    .title Left tabs
  .box-content.padded
    .tab-content
      #pictures.tab-pane.active
        %p Drag and drop these images into the editor:
        %ul
          - Refinery::Image.all.each do |image| 
            %li
              = image_tag image.thumbnail(geometry: '150x150').url
              = image.title
      
      
      #files.tab-pane
        %p Drag and drop these files into the editor:
        %ul
          - Refinery::Resource.all.each do |resource| 
            %li= link_to resource.title, resource.url
      
      
      
      #settings.tab-pane
        Changing the settings
      
      
