/*
*= require coreadmin/bootstrap_include
* require coreadmin/uniform_default
*= require coreadmin/base
*= require coreadmin/box
* require coreadmin/message_box
* require coreadmin/dropdowns
*= require fonts/font-awesome
*= require fonts/opensans
* require coreadmin/responsive-tables
* require coreadmin/fullcalendar
* require coreadmin/gritter
* require coreadmin/numeric_stats
*= require coreadmin/form_elements
* require coreadmin/tags
*= require coreadmin/navigation
*= require coreadmin/sidebar
*= require coreadmin/breadcrumbs
*= require coreadmin/triangle_button
*= require coreadmin/tooltips
*= require coreadmin/buttons
*= require coreadmin/action_nav
* require coreadmin/stats
* require coreadmin/ibutton
* require coreadmin/content_progress
* require coreadmin/charts
* require coreadmin/select2
* require coreadmin/select2_overrides
* require coreadmin/ui_custom
* require coreadmin/icheck_blue
* require coreadmin/xcharts
* require coreadmin/justgage
* require coreadmin/easy_pie_chart
* require coreadmin/sparkline_box
* require coreadmin/chat-box
*= require coreadmin/dataTables
* require coreadmin/accordion
* require coreadmin/thumbnails
*= require coreadmin/bootstrap_alerts
* require coreadmin/pagination
* require coreadmin/modal
* require coreadmin/touchTouch
* require coreadmin/tables
* require coreadmin/scrollable
* require coreadmin/news
*= require coreadmin/badges
* require coreadmin/bootstrap-wizard
* require coreadmin/error_pages
* require coreadmin/bootstrap-wysihtml5
* require coreadmin/validation_engine
*= require coreadmin/bootstrap-editable
*= require coreadmin/bootstrap-editable-fix
*= require coreadmin/responsive992
*= require coreadmin/responsive768
*= require coreadmin/responsive480
*= require coreadmin/responsive-tables
*= require coreadmin/datepicker
*= require page
*/


.tooltip {
  background: transparent;
  border: 0px;
}

a:hover {
  border-bottom: none;
}

.cke_editor * {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

